.exercise {
  background-color: #4f3961;
  font-size: 1.5rem;
  color: white;
  border-radius: 8%;
  height: 200px;
  box-shadow: 12px 12px #382944;
}

input[type=submit]{
  border: none;
  font-size: 1.2rem;
  background-color: #ea728c;
  color: #f3d4d4;
  padding: 15px;
  box-shadow: 8px 8px #c7516b;
  border-radius: 6%;
}

input[type=text] {
  border: none;
  max-width: 70px;
  height: 50px;
  font-size: 1.5rem;
  margin-right: 20px;
}

h1 {
  padding-top: 10px;
}
