.card {
  background-color: #fc9d9d;
  width: 285px;
  height: 400px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 80px;
  border-radius: 5%;
  box-shadow: 15px 15px #ea728c;
}

.score {
  position: relative;
  right: 120px;
  top: 120px;
  color: #f3d4d4;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
