.trivia {
  background-color: #4f3961;
  border-radius: 8%;
  padding: 20px;
  height: 200px;
  box-shadow: 12px 12px #382944;
}

.text {
  background-color: #4f3961;
  overflow-y: auto;
  margin-top: -20px;
  color: white;
  font-size: 0.8rem;
  margin-bottom: 20px;
  height: 140px;
}

button {
  border: none;
  font-size: 1.2rem;
  background-color: #ea728c;
  color: #f3d4d4;
  padding: 15px;
  border-radius: 6%;
  box-shadow: 8px 8px #c7516b;
}

