.leaderboard {
  color: #f3d4d4;
  font-size: 1.2rem;
  background-color: #fc9d9d;
  width: 285px;
  height: 425px;
  margin: 0 auto;
  padding: 30px;
  padding-top: 0;
  margin-top: 80px;
  border-radius: 5%;
  box-shadow: 15px 15px #ea728c;
}
