.icon {
  border: none;
  background-color: inherit;
  font-size: 3rem;
  outline: none;
  color: #c7516b;
  float: left;
  padding-left: 50px;
}

.nav-list {
  color: #ffe9e9;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.nav-item {
  font-size: 1.2rem;
  padding: 20px;
  background-color: #fe8484;
  box-shadow: 15px 0px #c7516b;
}

.nav-item:hover {
  animation: hover 0.7s forwards;
}

@keyframes hover {
  0% {
    transform: translate(0px);
  }

  100% {
    transform: translate(40px);


    /* transform: translate(10px, 10px);
    box-shadow: none; */
  }
}
